.ac_results {
	padding: 0px;
	border: 1px solid #999;
	background-color: #FAFAFA;
	overflow: hidden;
	z-index: 99999;
        color:#333;
        width: 218px;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 7px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 15px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url(images/indicator.gif) right center no-repeat;
            /*url('images/indicator.gif') right center no-repeat;*/
}

.ac_odd {
	/* background-color: #eee; */
}

.ac_over {
	background-color: #EDF3F9;
        color:#333;
        border-top:#80C2E7 solid 1px;
        border-bottom:#80C2E7 solid 1px;
}


.input_text{
    width: 218px;
	background:url(inputBack.png) repeat-x;
    border:#D7D7D7 solid 1px;
    -moz-border-radius: 3px;
    -moz-box-sizing:border-box;
    -webkit-border-radius: 3px;
    -webkit-box-sizing:border-box;
    padding:3px 5px 5px 5px;
    vertical-align:middle;
    font-size:12px;
}
